fieldset {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border-color: blue;

}


input[type="text"] {
    width: 750px;
}


button[type="submit"] {
    width: 200px;
    margin-left: 310px;
    padding: 5px;
    font-size: large;
    background-color: rgba(255, 127, 80, 0.493);
    border-radius: 10px;
}


input[type="checkbox"] {
    padding: 200px;
    margin: 20px;
}

label {
    display: flex;
    flex-direction: column;
}


.team {
    display: flex;
    flex-direction: row;
}

.rafting-team h2 {
    text-align: center;
}

.embeded iframe {
    margin-left: 150px;
}

.contact h2{
    text-align: center;
}


.contact p {
    text-align: center;
}

.contact address {
    text-align: center;
}


.message-form h2 {
    text-align: center;
}


figcaption {
    margin-left: 40px;
}