


body {
    font-family: Arial, sans-serif;
}


header{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
    padding: 20px;        

}

header img{
    max-width: 100%;
    height:auto;
}

nav{
   display: flex;
   justify-content: flex-start; 
}

nav a {
    margin-right: 20px;
    
}





.navigation ul {
    display:flex;
    list-style-type: none;
    margin:0;
    padding:0;
}

.navigation li {
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color:black;
    font-size: 16px;
}

.nav a:hover {
    color:#007bff;
}



h1{
    font-family: "Roboto Condensed", serif;
    font-weight: 100;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
    text-transform:uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
    margin-bottom: 20px;
    padding: 10px 0;
    border: 3px solid #003366;
    border-radius: 5px;
    background-color: #8A4FFF;

}


p{
    font-family: "Roboto Condensed", serif;
    font-size: 1.125;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing:0.5px;
    margin-bottom: 20px;
    padding: 5px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    color:  #333;
    background-color: #BBBE64;
    text-align: justify;

}






h1{
    color: #8A4FFF;
}

h2{
    color:#BBBE64
}


.sociallinks a {
       text-decoration: none;
} 
    


nav .sociallinks img {
    width: 30px;
    height: auto;
}







body{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}  

.hero img {
    background-image: url('images/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1{
    position: absolute;
    top: 50px;
    left: 50px; 
}


article{
    position: absolute;
    top: 50px;
    left: 50px;
}

div{
    position: relative;

}

.article img {
       float: right;
       margin-left: 20px;
       margin-bottom: 10px;
}

 section h2 {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 20px;
     text-align: center;
     
 }

 section img {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       gap: 20px;
 }





