


body {
    font-family: Arial, sans-serif;
}


header{
    display: grid;
    grid-template-columns:  1fr auto;
    align-items: center;
    padding: 10px 20px; 
    background-color: blueviolet;       

}

.logo img{
    width: 100px;
    
}

nav ul {
   display: flex;
   padding: 0; 
   margin: 0;
}

nav ul li{
     margin-left: 20px;
    
}


h1 {
    text-align: center;
}

p{
    text-align: center;
}

 h2{
    text-align: center;
}

.adventures img {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}


footer {
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-images {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}






























