.callout  { 
    background-color: darkblue ; text-decoration-color:white ; margin: 20px 10px ;max-width: fit-content;
     color: azure; border: 0cap; padding: auto;
    
	
}

.callout img { margin: 1px; width: 10px; padding: 0cap; float: right; border: 0cap; height: fit-content;
               background-color: bisque; 
	
}

blockquote { margin: 0px;
	
}

cite { display: block; text-align: center; font-size: smaller; border-top: #fff dotted; padding-top: 10px;
	
}